body{
background:#0f1115;
color:#d0d0d0;
font-family:"Meiryo",sans-serif;
width:900px;
margin:auto;
}

h1{
color:white;
margin-bottom:30px;
}

h3{
border-left:8px solid #ff7aa2;
padding-left:10px;
margin-top:30px;
}

ul{
list-style:none;
padding:0;
}

li{
padding:6px;
border-bottom:1px solid #2a2d36;
}

.time{
color:#9aa0a6;
margin-right:10px;
font-size:12px;
}

a{
color:#7fb7ff;
text-decoration:none;
}

a:hover{
background:#2c3e50;
color:white;
}