body{
margin:0;
font-family:sans-serif;
background:#f5f5f5;
}

.layout{
display:flex;
width:1200px;
margin:auto;
}

.left{
width:260px;
padding:10px;
}

.center{
flex:1;
padding:10px;
}

.adimg{
width:100%;
margin-bottom:10px;
border-radius:6px;
}

.rss-item{
background:white;
padding:10px;
margin-bottom:12px;
border-radius:6px;
}

.rss-item img{
width:100%;
height:auto;
}

.title{
font-size:14px;
margin-top:6px;
}
